.largura-card{
    max-width: 18rem;
}

.carrossel-conteiner{
    height: 600px;
}
.imagem-carrossel-um{
    object-fit: cover;
    object-position: 70% 0;
}

.imagem-carrossel-dois {
    object-fit: cover;
    object-position: 0 15%;
}

.imagem-carrossel-tres {
    object-fit: cover;
    object-position: 50% 0;
    }

.fonte-carrossel {
    font-family: "PT Serif", serif;
  }

.text-shadow{
    text-shadow: 4px 4px 8px black;
}

main{
    background-color:whitesmoke;
}

.img-cred {
    object-fit: cover;
    object-position: 0 55%;
    height: 300px;
    width: 100%;
}

.img-logo{
    widows: 100px;
    height: 100px;
}

.font-name{
    widows: 75px;
    height: 75px;
}

.borda-cor-card{
    border: 15px solid green!important;
    border-radius: 10px;
}
.card-title{
    color: darkgreen;
}

.card-size{
    width: 350px !important;
    height: 250px;;
}

#produtos {
    padding: 50px;
    margin-top: 20px;
}

#credito-carbono{
    padding: 50px;
    margin-top: 20px;
}

#quem-somos{
    padding: 50px;
    margin-top: 20px;
}
