.largura-card{
    max-width: 18rem;
}

.carrossel-conteiner{
    height: 650px;
    object-fit: cover;
}

main{
    background-color:whitesmoke;
    margin-bottom: 50px;
}

.img-cred {
    object-fit: cover;
    object-position: 0 55%;
    height: 300px;
    width: 100%;
}

.img-logo{
    widows: 100px;
    height: 100px;
}

.font-name{
    widows: 75px;
    height: 75px;
}

.borda-cor-card{
    border: 15px solid green!important;
    border-radius: 10px;
}
.card-title {
    color: darkgreen;
}

.card-size{
    width: 350px !important;
    height: 250px;;
}

#produtos {
    padding: 50px;
    margin-top: 20px;
}

#credito-carbono{
    padding: 50px;
    margin-top: 20px;
}

#quem-somos{
    padding: 50px;
    margin-top: 20px;
}

.footer-arbos {
    background:#000000;
    padding: 40px 0;
    width: 100%;
    position: relative; /* Adicionado */
  }

.footer-arbos:before,
.footer-arbos:after {
  content: "";
  display: table;
}

.footer-arbos:after {
  clear: both;
}

.footer-col {
  margin-bottom: 20px;
}

.footer-title {
    color: darkolivegreen;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-link {
  color: white;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.container-footer {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; /* Adicionado */
}

